.falcuties{
    text-align: center;
}
.falcuties__item{
    margin: auto;
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.myCard{
    margin: 20px 20px;
    border: #d6683a solid 1px;
    border-radius: 100%;
}